@import "tailwindcss";



.logo {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #4A1F2A; /* deep maroon */
} 


/* Lightbox theme override */
.yarl__button {
  color: #8b6a3f !important;
  opacity: 0.8;
}

.yarl__button:hover {
  opacity: 1;
}

.yarl__navigation_prev,
.yarl__navigation_next {
  color: #b9935a !important;
}




/* Fix react-slick height issues */
/* ✅ React Slick Width Stabilization Fix */
.slick-slide > div {
  width: 100%;
}

/* #chatBubbleRoot {
  position: fixed;
  bottom: 110px;              
  right: 16px;
  z-index: 9999;

  width: 56px;
  height: 56px;
  border-radius: 50%;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
@media (max-width: 768px) {
  #chatBubbleRoot {
    width: 52px;
    height: 52px;
    right: 12px;
  }
} */

/* #chatBubbleRoot,
#chatBubbleRoot .bubble__icon-container {
    position: fixed !important;
    bottom: 90px !important;
    right: 16px !important;

    width: 56px !important;
    height: 56px !important;
} */


#chatBubbleRoot {
    position: fixed !important;
    right: 14px !important;
    z-index: 2147483647 !important;
}

/* ✅ Desktop */
@media (min-width: 769px) {
    #chatBubbleRoot {
        bottom: 38px !important;
    }
}

/* ✅ Mobile FIX */
@media (max-width: 768px) {

    #chatBubbleRoot {
        bottom: 120px !important;   /* ← bottom nav ke upar */
    }

    #chatBubbleRoot .bubble__icon-container {
        position: fixed !important;
        width: 54px !important;
        height: 54px !important;
    }
}